version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=3306
      - DATABASE_USER=root
      - DATABASE_PASSWORD=
      - DATABASE_SCHEMA=table4u
      - DATABASE_SYNCHRONIZE=true
      - JWT_SECRET=SECRET_KEY
      - NODE_ENV=production
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    command: sh -c "sleep 10 && npm run start:prod"  # Dodaj opóźnienie dla bazy
    restart: on-failure

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: table4u
      MYSQL_ROOT_HOST: "%"  # Pozwól na połączenia z dowolnego hosta
    ports:
      - "3306:3306"
    volumes:
      - ./db/data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
    depends_on:
      - db
